<!DOCTYPE html>
<html lang="en">
  <title> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <body>
    <nav class="pa3 pa4-ns">
    <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="/" title="Home">World Wide Web Log</a>
    <div class="tc pb3">
      <a class="link dim gray f6 f5-ns dib mr3" href="/" title="Home">Home</a>
      <a class="link dim gray f6 f5-ns dib mr3" href="/logs" title="Log">Logs</a>
    </div>
  </nav>
  <section class="mw7 center">
    <article class="pv4 bt bb b--black-10 ph3 ph0-l">
      <div class="flex flex-column flex-row-ns">
        <div class="w-100 w-60-ns pr3-ns order-2 order-1-ns">
          <h1 class="f3 athelas mt0 lh-title">{{ pageTitle }}</h1>
          <p class="f5 f4-l lh-copy athelas">
          {{ content }}
          </p>
        </div>
        <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns">
          <img src="https://www.placecage.com/g/400/300" class="db" alt="Grey Photo of Cage.">
        </div>
      </div>
    </article>
  </section>

  </body>
</html>