<!doctype html>
<html lang="en">
  <head>
  <title> The Web Logs of Cage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  </head>
  
  <body>
    
  <nav class="pa3 pa4-ns">
    <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="/" title="Home">World Wide Web Log</a>
    <div class="tc pb3">
    <a class="link dim gray f6 f5-ns dib mr3" href="/" title="Home">Home</a>
    <a class="link dim gray f6 f5-ns dib mr3" href="/posts" title="Log">Posts</a>
    </div>
  </nav>

  

  </body>
</html>